<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/static/styles/fontello.css" th:href="@{/styles/fontello.css}">
    <link rel="stylesheet" href="/static/styles/slidebarFragment.css" th:href="@{/styles/slidebarFragment.css}">
    <title>Title</title>
</head>
<body>





</body>
</html>