<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/static/styles/fontello.css" th:href="@{/styles/fontello.css}">
    <link rel="stylesheet" href="/static/styles/acceptedCustomers.css" th:href="@{/styles/acceptedCustomers.css}">
    <link rel="stylesheet" href="/jquery-ui-1.13.2/jquery-ui.css" th:href="@{/jquery-ui-1.13.2/jquery-ui.css}">

    <title></title>
</head>

<body>
<div class="sidebar">
    <div class="logo-details">

        <i class='icon'>

            <a href="#">
                <!-- here i need to dinamically change the photo -->

                <img th:src="@{/api/v1/customer/{id}/image(id = ${customerId})}"
                     class="forPhoto">
            </a> </i>
        <div class="logo_name">

            <select onchange="doSelect()" id="exampleInputRole1" name="role"
                    class="form-select form-select-lg mb-3 loginSelect"
                    aria-label=".form-select-lg example">

                <option>Заказчик</option>
                <option>Специалист</option>

            </select>

        </div>
        <i class='bx bx-menu' id="btn"></i>


    </div>
    <ul class="nav-list">

        <li>
            <a id="orders" th:href="@{/customer/{id}/orders(id = ${customerId})}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Заказы</span>
            </a>
            <span class="tooltip">Заказы</span>
        </li>
        <li>
            <a id="profile" th:href="@{/customer/{id}/profile(id = ${customerId})}" onclick="changeHeaderText()">
                <i class='bx bx-user'></i>
                <span class="links_name">Профиль</span>
            </a>
            <span class="tooltip">Профиль</span>
        </li>
        <li>
            <a id="messages" href="#messages" onclick="changeHeaderText()">
                <i class='bx bx-chat'></i>
                <span class="links_name">Сообщения</span>
            </a>
            <span class="tooltip">Сообщения</span>
        </li>
        <li>
            <a id="responses" th:href="@{/customer/{id}/responses(id = ${customerId})}">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Отклики</span>
            </a>
            <span class="tooltip">Отклики</span>
        </li>
        <li>
            <a id="record" href="#records" onclick="changeHeaderText()">
                <i class='bx bx-folder'></i>
                <span class="links_name">Учет</span>
            </a>
            <span class="tooltip">Учет</span>
        </li>

        <li class="profile">
            <div class="profile-details">

            </div>
            <a href="#" style="background: none;">

                <i class='bx bx-log-out' id="log_out"></i>
            </a>
        </li>
    </ul>
</div>


<section class="home-section">

    <div id="headerText" class="text">
        Отклики
    </div>


    <div id="OrdersBoardPageContainerId" data-testid="ORDERS_BOARD"
         class="PageContainer__AlignContainer-sc-xe5rib-1 drtEfM">
        <div class="PageContainer__WidthContainer-sc-xe5rib-0 gKzyDu">
            <div class="Grid__Wrapper-sc-1uiem96-1 hsRTNY OrdersBoardStyles__StyledGrid-sc-p2e612-0 lgnZSn main-content">
                <div id="BOARD_GRID_CONTAINER_ID" spacing="1" class="Grid__Content-sc-1uiem96-0 eFFZeV">
                    <div class="Column-sc-1180kxd-0 kWFdZ sidebarFilter is-affixed" style="position: relative;">
                        <div class="sidebar__inner" style="position: relative; transform: translate3d(0px, 0px, 0px);">

                            <div dir="ltr" class="resize-sensor"
                                 style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                <div class="resize-sensor-expand"
                                     style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 290px; height: 880px;"></div>
                                </div>
                                <div class="resize-sensor-shrink"
                                     style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Column-sc-1180kxd-0 OrdersBoardStyles__OrdersColumn-sc-obij8q-0 kemdla gmnbwJ">

                        <div th:each="resume : ${respondedResumes}"
                             class="FlatListStyles__ContentContainer-sc-1ipsls8-0 cymlLM" id="content-content">
                            <div class="OrderSnippetContainerStyles__Container-sc-85p0ef-0 dojFOQ">

                                <!--                                                    =====-->



                                <!--                                                    ==========-->

                                <div class="OrderSnippetStyles__CardContainer-sc-hfzrw4-1 hMXvDV">

                                    <a th:href="@{/customer/{id}/responses/{resumeId}(id = ${customerId}, resumeId = ${resume.readResumeDto.id},
                                                        orderId = ${resume.readOrderDto.id})}"
                                       data-testid="54025023_order-snippet"

                                       id="54025023" aria-label=""
                                       class="SnippetBodyStyles__Container-sc-wu97j-0 eyvTOL">
                                        <div class="OrderCardStyles__RefuseButtonContainer-sc-12zln64-6 hIBpTa">

                                            <button type="button"
                                                    class="ButtonStyles__Container-sc-1kch7k2-0 eZTuJf OrderCardStyles__RefuseButton-sc-12zln64-5 gByBqo"
                                                    aria-label="Скрыть заказ" data-testid="54025023_refuse">
                                                <div class="ButtonStyles__Content-sc-1kch7k2-1 kitzDt">

                                                    <div class="ButtonStyles__LabelAndIconContainer-sc-1kch7k2-3 kXA-dvj">

                                                        <div class="ButtonStyles__StyledIcon-sc-1kch7k2-6 bGZEwH">
                                                            <svg width="20" height="20" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                      d="M13.03 4.03a.75.75 0 0 0-1.06-1.06L8 6.94 4.03 2.97a.75.75 0 0 0-1.06 1.06L6.94 8l-3.97 3.97a.75.75 0 1 0 1.06 1.06L8 9.06l3.97 3.97a.75.75 0 1 0 1.06-1.06L9.06 8l3.97-3.97Z"
                                                                      fill="currentColor"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ButtonStyles__AbsoluteCounterContainer-sc-1kch7k2-2 iPIBAq"></div>
                                            </button>
                                        </div>
                                        <div class="SnippetBodyStyles__Content-sc-wu97j-1 dWueiY">
                                            <div class="seamless__navigation-chats-link-avatar">
                                                <div class="_thfEiXM" style="width: 60px; height: 60px;"><img loading="lazy"
                                                                                                              data-shmid="avatarImg"
                                                                                                              src="//cdn.profi.ru/7bd600253a3c4f24831505aa7d784c62.jpg-a34-75.jpg"
                                                                                                              class="_1OdLdqI"
                                                                                                              width="60px" height="60px"
                                                                                                              alt=""></div>
                                            </div>
                                            <div class="SnippetBodyStyles__ContentLeftContainer-sc-wu97j-2 iUyqEa">
                                                <div class="SubjectAndPriceStyles__Container-sc-qy1ik2-0 fCJUwq">
                                                    <div class="SubjectAndPriceStyles__SubjectsContainer-sc-qy1ik2-8 jGzSsG">
                                                        <h3 th:text="${resume.readOrderDto.readPersonDto.firstName}"
                                                            class="SubjectAndPriceStyles__SubjectsText-sc-qy1ik2-1 daLNyi">
                                                            Укладка 3д панелей на стену</h3>
                                                        <div class="accepted" style="color: green; margin-left: auto"
                                                             th:if="${resume.orderStatus == 'ACCEPTED'}">
                                                            Принято
                                                        </div>
                                                    </div>
                                                    <div class="SubjectAndPriceStyles__PriceContainer-sc-qy1ik2-2 gmLfVl"><span
                                                            class="SubjectAndPriceStyles__AccessibilityPriceLine-sc-qy1ik2-3 fuAvYS">
                      </span><span aria-hidden="true" class="SubjectAndPriceStyles__PriceLine-sc-qy1ik2-4 eFdYGq"><span
                                                            class="SubjectAndPriceStyles__PriceValue-sc-qy1ik2-5 ksIpKc"></span></span>
                                                    </div>
                                                </div>
                                                <p th:text="|Опыт работы ${resume.readResumeDto.experience}|"
                                                   class="SnippetBodyStyles__MainInfo-sc-wu97j-5 jBJaPE">Описание</p>

                                                <div class="SnippetBodyStyles__LocationAndDateContainer-sc-wu97j-4 jljjKo">
                                                    <div class="SnippetBodyStyles__LocationAndStatusContainer-sc-wu97j-11 gCCfZX">
                                                        <ul role="list"
                                                            class="LocationAndScheduleStyles__Container-sc-14uppec-3 cwqJfU">

                                                            <li role="listitem"
                                                                class="LocationAndScheduleStyles__BlockContainer-sc-14uppec-4 fvlPCn">
                                                                <div class="seamless__navigation-chats-profile-indicators _19Qzghg _1VL78c-"
                                                                     data-shmid="profileIndicators">
                                                                    <div class="_1NMf894 _a8ql2Xu _BNLWoQn"
                                                                         data-shmid="profileIndicators_ratingBlock">
                                                                        <svg class="_uvhqnlI" width="14" height="14"
                                                                             viewBox="0 0 18 18" fill="#FFC600"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M8.31897 0.457643L9.68103 0.457642L11.2776 5.36143C11.4373 5.85218 11.8956 6.18444 12.4126 6.18444H17.5791L18 7.47724L13.8202 10.5079C13.4019 10.8112 13.2269 11.3489 13.3867 11.8396L14.9832 16.7434L13.8813 17.5424L9.7015 14.5117C9.28321 14.2084 8.71679 14.2084 8.2985 14.5117L4.11872 17.5424L3.01679 16.7434L4.61333 11.8396C4.7731 11.3489 4.59807 10.8112 4.17978 10.5079L0 7.47724L0.420898 6.18444H5.58739C6.10443 6.18444 6.56266 5.85218 6.72244 5.36143L8.31897 0.457643Z"></path>
                                                                        </svg>
                                                                        <span th:text="${personRole.rating}"
                                                                              class="ui-text _3eH689t _2iyzK60 _2FaBpDL">
                                                                                                0.0
                                                                                            </span>
                                                                    </div>
                                                                    <!--                                                                    <div class="_1NMf894 _a8ql2Xu _3Y9Ho5m"-->
                                                                    <!--                                                                         data-shmid="profileIndicators_reviews_block">-->
                                                                    <!--                                                                        <svg width="14" height="14" viewBox="0 0 20 20"-->
                                                                    <!--                                                                             fill="none"-->
                                                                    <!--                                                                             xmlns="http://www.w3.org/2000/svg"-->
                                                                    <!--                                                                             class="_uvhqnlI" wfd-invisible="true">-->
                                                                    <!--                                                                            <path d="M12.512 13.686l5.43-1.223c.41-3.04.41-6.123 0-9.164a37.173 37.173 0 00-15.883 0 34.147 34.147 0 000 9.164l5.43 1.223c.28.063.499.282.562.563l1.223 4.188h1.452l1.223-4.188c.063-.28.282-.5.563-.563z"-->
                                                                    <!--                                                                                  fill="#C8CBD2"></path>-->
                                                                    <!--                                                                        </svg>-->
                                                                    <!--                                                                        <span class="ui-text _3eH689t _2iyzK60 _2FaBpDL">0 отзывов</span>-->
                                                                    <!--                                                                    </div>-->
                                                                </div>

                                                            </li>
                                                            <li role="listitem"
                                                                class="LocationAndScheduleStyles__BlockContainer-sc-14uppec-4 fvlPCn">
                                                                <div class="seamless__navigation-chats-profile-indicators _19Qzghg _1VL78c-"
                                                                     data-shmid="profileIndicators">
                                                                    <div class="_1NMf894 _a8ql2Xu _3Y9Ho5m"
                                                                         data-shmid="profileIndicators_reviews_block">
                                                                        <img class="comm" width="17" height="15"
                                                                             src="/static/images/message-svgrepo-com.svg"
                                                                             th:src="@{/images/message-svgrepo-com.svg}">
                                                                        <!--                                                                        <svg width="14" height="14" viewBox="0 0 20 20"-->
                                                                        <!--                                                                             fill="none"-->
                                                                        <!--                                                                             xmlns="http://www.w3.org/2000/svg"-->
                                                                        <!--                                                                             class="_uvhqnlI" wfd-invisible="true">-->
                                                                        <!--                                                                            <path d="M12.512 13.686l5.43-1.223c.41-3.04.41-6.123 0-9.164a37.173 37.173 0 00-15.883 0 34.147 34.147 0 000 9.164l5.43 1.223c.28.063.499.282.562.563l1.223 4.188h1.452l1.223-4.188c.063-.28.282-.5.563-.563z"-->
                                                                        <!--                                                                                  fill="#C8CBD2"></path>-->
                                                                        <!--                                                                        </svg>-->
                                                                        <span class="ui-text _3eH689t _2iyzK60 _2FaBpDL">0 отзывов</span>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li aria-label="Адрес клиента:" role="listitem"
                                                                class="LocationAndScheduleStyles__BlockContainer-sc-14uppec-4 fvlPCn">


                                                                <div class="SnippetBodyStyles__IconContainer-sc-wu97j-6 jzzbAX">
                                                                    <svg width="16" height="16" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="LocationAndScheduleStyles__HomeIcon-sc-14uppec-0 julECH">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M8.4 2.248a.65.65 0 0 0-.8 0L2.35 6.332a.65.65 0 0 0-.251.513v6.419a1.817 1.817 0 0 0 1.817 1.817h8.168a1.817 1.817 0 0 0 1.817-1.817V6.845a.65.65 0 0 0-.25-.513L8.398 2.248Zm2 11.533h1.684a.517.517 0 0 0 .517-.517v-6.1L8 3.583l-4.601 3.58v6.1a.517.517 0 0 0 .517.517H5.6V8.596a.65.65 0 0 1 .65-.65h3.5a.65.65 0 0 1 .65.65v5.185Zm-3.5 0h2.2V9.246H6.9v4.535Z"
                                                                              fill="currentColor"></path>
                                                                    </svg>
                                                                </div>
                                                                <span class="LocationAndScheduleStyles__TextContainer-sc-14uppec-5 kWSHFr">
                                                                                    <span th:text="|${resume.readResumeDto.address.city}, |"
                                                                                          class="LocationAndScheduleStyles__LocationText-sc-14uppec-7 boEKuP">dummy city</span>
                                                                                    <span th:text="|${resume.readResumeDto.address.street}, ${resume.readResumeDto.address.houseNumber}|"
                                                                                          class="LocationAndScheduleStyles__LocationText-sc-14uppec-7 boEKuP">dummy street, dummy houseNumber</span></span>
                                                                <span
                                                                        class="LocationAndScheduleStyles__SuffixContainer-sc-14uppec-6 iVLGnc"></span>
                                                            </li>
                                                            <!--                                                            <li aria-label="Удобное время:" role="listitem"-->
                                                            <!--                                                                class="LocationAndScheduleStyles__BlockContainer-sc-14uppec-4 fvlPCn">-->
                                                            <!--                                                                <div class="SnippetBodyStyles__IconContainer-sc-wu97j-6 jzzbAX">-->
                                                            <!--                                                                    <svg width="16" height="16" fill="none"-->
                                                            <!--                                                                         xmlns="http://www.w3.org/2000/svg"-->
                                                            <!--                                                                         class="LocationAndScheduleStyles__ScheduleIcon-sc-14uppec-10 keqltE">-->
                                                            <!--                                                                        <path fill-rule="evenodd" clip-rule="evenodd"-->
                                                            <!--                                                                              d="M5.15 2a.65.65 0 0 1 .65.65v.785h4.4V2.65a.65.65 0 1 1 1.3 0v.785h.55A1.95 1.95 0 0 1 14 5.385v7.665A1.95 1.95 0 0 1 12.05 15h-8.1A1.95 1.95 0 0 1 2 13.05V5.385a1.95 1.95 0 0 1 1.95-1.95h.55V2.65A.65.65 0 0 1 5.15 2Zm-1.2 2.735a.65.65 0 0 0-.65.65v1.238h9.4V5.385a.65.65 0 0 0-.65-.65h-8.1Zm8.75 3.188H3.3v5.127c0 .359.291.65.65.65h8.1a.65.65 0 0 0 .65-.65V7.923Z"-->
                                                            <!--                                                                              fill="currentColor"></path>-->
                                                            <!--                                                                    </svg>-->
                                                            <!--                                                                </div>-->
                                                            <!--&lt;!&ndash;                                                                <span th:text="|${order.startAt} - ${order.endAt}|" class="LocationAndScheduleStyles__ScheduleText-sc-14uppec-11 hdGqmZ">dummy startAt - dummy endAt</span>&ndash;&gt;-->
                                                            <!--                                                            </li>-->
                                                        </ul>


                                                    </div>


                                                    <!--


                                                 <div class="Date__Container-sc-19z4g3h-0 kfJJxd SnippetBodyStyles__AllocAndStatusDate-sc-wu97j-8 jAjgkV">-->
                                                    <!--                                                                                                        <span class="Date__DateText-sc-19z4g3h-1 jsRPdl">Вчера в 20:33</span>-->
                                                    <!--                                                                                                    </div>-->
                                                </div>

                                                <div class="order-card-param-list__item order-card-param__container">
                                                    <div class="order-card-param-title">
                                                    </div>
                                                    <p th:text="${resume.readOrderDto.orderName}" size="16"
                                                       class="bo_text__16 bo_text order-card-geo__regions">
                                                        Отклик заказ: </p></div>
                                            </div>
                                        </div>
                                    </a></div>
                            </div>
                        </div>
                    </div>


                    <!--                                        ==============================================-->

                    <!--                    <div class="seamless__navigation-chats-link seamless__navigation-chats-link_profile seamless__navigation-chats-link_msngr_prep_client seamless__navigation-chats-link_r_zayavka clearfix"-->
                    <!--                         data-shmid="chatWithSoloninMS">-->
                    <!--                        <div class="seamless__navigation-chats-link-status seamless__navigation-chats-link-status_offline"></div>-->
                    <!--                        <div class="seamless__navigation-chats-link-avatar">-->
                    <!--                            <div class="_thfEiXM" style="width: 40px; height: 53px;"><img loading="lazy"-->
                    <!--                                                                                          data-shmid="avatarImg"-->
                    <!--                                                                                          src="//cdn.profi.ru/7bd600253a3c4f24831505aa7d784c62.jpg-a34-75.jpg"-->
                    <!--                                                                                          class="_1OdLdqI" width="40"-->
                    <!--                                                                                          height="53" alt=""></div>-->
                    <!--                        </div>-->
                    <!--                        <div class="seamless__navigation-chats-link-data">-->
                    <!--                            <div class="seamless__navigation-chats-link-name"><span-->
                    <!--                                    class="seamless__navigation-chats-link-type seamless__navigation-chats-link-type_profile"-->
                    <!--                                    wfd-invisible="true">Специалист</span>-->
                    <!--                                <div class="seamless__navigation-chat-label seamless__navigation-chat-label_r_zayavka">-->
                    <!--                                    <span class="seamless__navigation-chat-label-text seamless__navigation-chat-label-text_r_zayavka"-->
                    <!--                                          wfd-invisible="true">откликнулся</span></div>-->
                    <!--                                <br wfd-invisible="true"><span-->
                    <!--                                        class="ui-text _3h9NOM3 seamless__navigation-chats-prep-name _3xKhc83 _1i2s3kL _2iyzK60 _3YppjWm">Михаил Сергеевич</span>-->
                    <!--                            </div>-->
                    <!--                            <div class="seamless__navigation-chats-profile-indicators _19Qzghg _1VL78c-"-->
                    <!--                                 data-shmid="profileIndicators">-->
                    <!--                                <div class="_1NMf894 _a8ql2Xu _BNLWoQn" data-shmid="profileIndicators_ratingBlock">-->
                    <!--                                    <svg class="_uvhqnlI" width="14" height="14" viewBox="0 0 18 18" fill="#FFC600"-->
                    <!--                                         xmlns="http://www.w3.org/2000/svg">-->
                    <!--                                        <path d="M8.31897 0.457643L9.68103 0.457642L11.2776 5.36143C11.4373 5.85218 11.8956 6.18444 12.4126 6.18444H17.5791L18 7.47724L13.8202 10.5079C13.4019 10.8112 13.2269 11.3489 13.3867 11.8396L14.9832 16.7434L13.8813 17.5424L9.7015 14.5117C9.28321 14.2084 8.71679 14.2084 8.2985 14.5117L4.11872 17.5424L3.01679 16.7434L4.61333 11.8396C4.7731 11.3489 4.59807 10.8112 4.17978 10.5079L0 7.47724L0.420898 6.18444H5.58739C6.10443 6.18444 6.56266 5.85218 6.72244 5.36143L8.31897 0.457643Z"></path>-->
                    <!--                                    </svg>-->
                    <!--                                    <span class="ui-text _3eH689t _2iyzK60 _2FaBpDL">4,75</span></div>-->
                    <!--                                <div class="_1NMf894 _a8ql2Xu _3Y9Ho5m" data-shmid="profileIndicators_reviews_block">-->
                    <!--                                    <svg width="14" height="14" viewBox="0 0 20 20" fill="none"-->
                    <!--                                         xmlns="http://www.w3.org/2000/svg" class="_uvhqnlI" wfd-invisible="true">-->
                    <!--                                        <path d="M12.512 13.686l5.43-1.223c.41-3.04.41-6.123 0-9.164a37.173 37.173 0 00-15.883 0 34.147 34.147 0 000 9.164l5.43 1.223c.28.063.499.282.562.563l1.223 4.188h1.452l1.223-4.188c.063-.28.282-.5.563-.563z"-->
                    <!--                                              fill="#C8CBD2"></path>-->
                    <!--                                    </svg>-->
                    <!--                                    <span class="ui-text _3eH689t _2iyzK60 _2FaBpDL">12 отзывов</span></div>-->
                    <!--                            </div>-->
                    <!--                            <div class="seamless__navigation-last-message-preview">Стоимость занятия 1000 руб. / 60 мин.-->
                    <!--                                Контакты: +7-978-148-..., ...@mail.ru-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    &lt;!&ndash;                    =======================================================&ndash;&gt;-->


                </div>
                <div dir="ltr" class="resize-sensor"
                     style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                    <div class="resize-sensor-expand"
                         style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                        <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 882px; height: 880px;"></div>
                    </div>
                    <div class="resize-sensor-shrink"
                         style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                        <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<script>
    function changeHeaderText() {
        document.getElementById('orders').addEventListener('click', () => {
            document.getElementById('headerText').innerText = "Заказы"
        })
        document.getElementById('profile').addEventListener('click', () => {
            document.getElementById('headerText').innerText = "Профиль"
        })
        document.getElementById('messages').addEventListener('click', () => {
            document.getElementById('headerText').innerText = "Сообщения"
        })
        document.getElementById('responses').addEventListener('click', () => {
            document.getElementById('headerText').innerText = "Отклики"
        })
        document.getElementById('record').addEventListener('click', () => {
            document.getElementById('headerText').innerText = "Учет"
        })


    }
</script>

<script src="/js/bootstrap.bundle.js">
</script>


<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
    }
</script>


<script>
    let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
        let label = input.nextElementSibling,
            labelVal = label.querySelector('.input__file-button-text').innerText;

        input.addEventListener('change', function (e) {
            let countFiles = '';
            if (this.files && this.files.length >= 1)
                countFiles = this.files.length;

            if (countFiles)
                label.querySelector('.input__file-button-text').innerText = 'Выбрано файлов: ' + countFiles;
            else
                label.querySelector('.input__file-button-text').innerText = labelVal;
        });
    });
</script>

<!--<script th:src="@{/js/jquery-3.6.1.min.js}" th:inline="javascript">-->


<!--    /*<![CDATA[*/-->


<!--    $( function() {-->
<!--        const availableTags = /*[[${keywords}]]*/ 'list';-->
<!--        $( "#keywords" ).autocomplete({-->
<!--            source: availableTags-->
<!--        });-->
<!--    } );-->


<!--    /*]]>*/-->

<!--</script>-->

<!--////////////////////////////////////////////////////////////////////////////////////////-->
<script src="/jquery-ui-1.13.2/jquery-ui.js"></script>

<script src="/js/jquery-3.6.1.min.js">
    $(function () {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#keywords").autocomplete({
            source: availableTags
        });
    });
</script>


<script th:inline="javascript">

    /*<![CDATA[*/


    function doSelect() {
        var customerId = /*[[${customerId}]]*/ '5';
        const optionValue = document.getElementById("exampleInputRole1");

        if (optionValue.value == 'Специалист') {
            window.location.href = "/executor/" + customerId + "/resumes";
        } else if (optionValue.value == 'Заказчик') {
            window.location.href = "/customer/" + customerId + "/orders";

        }
    }

    /*]]>*/
</script>


<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
</body>

</html>