@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.forPhoto {
    width: 60px;
    height: 57px;

    background-size: cover;
    background-position: center;

    border-radius: 100%;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    background-color: rgb(242, 242, 242);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.loginSelect {
    /* background-color: inherit; */
    border: none;
    border-radius: 0;

    font-size: 0.90rem;
    color: white;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;


    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    background-clip: padding-box;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.loginSelect:focus {

    box-shadow: inset 0 -1px 0 #7e7e7e;
    border: none;
    outline: none;


}

.loginSelect option {
    background-color: #1d1b31;
    background-clip: padding-box;
    border: 0px;
    outline: 0px;


}


/*=======================================================================================================*/

/*css for current order*/


table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.order-layout_wide {
    max-width: 872px;
}

.order-layout, .report-layout, .report-layout-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
}

.order-card-param-list__item+.order-card-param-list__item {
    border-top: 1px solid #e6e9f0;
}
.order-card-param-list__item {
    padding-bottom: 16px;
    padding-top: 16px;
}
.order-card-param__container {
    background-color: #fff;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.order-card-param-title {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding-top: 1px;
}
.for_order-card-param-title {

    margin-bottom: 5px;
}

.bo_text__18 {
    font-size: 18px;
    /*font-weight: 500;*/
    line-height: 22px;
    font-weight: bold;
}

.bo_text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-block-end: 0;
    margin-block-start: 0;
    white-space: pre-line;
}

.order-card-param__text {
    padding-top: 8px;
    word-break: break-word;
}

.bo_text__16, .bo_text__16_bold {
    font-size: 16px;
    line-height: 9px;
}

.order-card-client__top-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 30px;
}


.order-card-client-avatar__container {
    /*align-items: center;*/
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.order-card-client__avatar_medium {
    max-height: 56px;
    max-width: 56px;
    /*min-height: 56px;*/
    /*min-width: 56px;*/
}
.order-card-client__avatar {
    border-radius: 50%;
    margin-right: 12px;
}









tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

A {
    text-decoration: none;
    color: #369;
}

@media (min-width: 908px) {
    #order-label, #profile-reports {
        margin: 0 8px;
    }

}

#order-label, #profile-reports {
    margin: 0 16px;
}

user agent stylesheet,
div {
    display: block;
}


@media (min-width: 908px) {
    #order-label, #profile-reports {
        margin: 0 8px;
    }
}

#profile-reports {
    width: calc(100% - 32px);
}

#order-label, #profile-reports {
    margin: 0 16px;
}

.order-card__container, .order-card__loader {
    display: flex;
    flex: auto;
}

.order-card-content__container, .order-card-content__grid {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-width: 100%;
}

.order-card-content__container {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: ProximaNova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.hsRTNY {
    display: flex;
    flex: 1 1 auto;
}

.order-card-content__container, .order-card-content__grid {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-width: 100%;
}

.eFFZeV {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin: -8px;
}

@media (min-width: 908px) {
    .kemdla {
        display: initial;
        width: calc(66.6667% - 16px);
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 8px;
    }
}

@media (min-width: 0) {

    .kemdla {
        display: initial;
        flex: 1 1 auto;
        margin: 8px;
    }
}

.kIhtgG {
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.ffDToG {
    display: flex;
    align-self: stretch;
    margin-bottom: 8px;
}

@media (min-width: 908px) {
    .jtPqym {
        display: initial;
        width: calc(33.3333% - 120px);
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 8px;
    }
}

@media (min-width: 0) {
    .jtPqym {
        display: initial;
        flex: 1 1 auto;
        margin: 8px;
    }
}
.bgZqlz {
    position: sticky;
    top: 74px;
    height: min-content;
    flex: 1 1 0%;
}
.kErMQG {
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms ease 0s;
}

 .kIhtgG {
     background-color: rgb(255, 255, 255);

     border-radius: 16px;
     margin-bottom: 16px;
 }


.order-card-param-list__item {
    padding-bottom: 16px;
    padding-top: 16px;
}

.order-card-header {
    align-items: flex-start;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}
.order-card-header__title-container {
    flex: auto;
    flex-direction: column;
}
.bo_text__24 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.bo_text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-block-end: 0;
    margin-block-start: 0;
    white-space: pre-line;
    margin-top: 7px;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dRvBCN {
    display: flex;
}

.order-card-header__tag-list {
    margin-top: 8px;
}
.dxGPHX {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    place-content: center flex-start;
    align-items: flex-start;
}
.dlkFzg {
    display: inline-flex;
    padding: 4px 0px;
    box-sizing: border-box;
    -webkit-box-pack: start;
    place-content: center flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    color: rgb(0, 117, 255);
    margin-right: 16px;
}

.btGqYQ {
    display: flex;
    flex: 1 1 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 500;
}
.cPknyO {
    display: inline-flex;
    padding: 4px 0px;
    box-sizing: border-box;
    -webkit-box-pack: start;
    place-content: center flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    color: rgb(20, 28, 37);
    margin-right: 16px;
}
.btGqYQ {
    display: flex;
    flex: 1 1 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 500;
}


 .cPknyO {
     display: inline-flex;
     padding: 4px 0px;
     box-sizing: border-box;
     -webkit-box-pack: start;
     place-content: center flex-start;
     -webkit-box-align: center;
     align-items: center;
     border-radius: 4px;
     color: rgb(20, 28, 37);
     margin-right: 16px;
 }





.backoffice-common-button:not(.backoffice-common-button_loading) {
    cursor: pointer;
}

.backoffice-common-button_medium {
    height: 56px;
    min-width: 208px;
}
.backoffice-common-button {
    align-items: center;
    background-color: initial;
    border: none;
    display: flex;
    justify-content: center;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}


/*for images ============================*/

.order-card-param-list__item+.order-card-param-list__item {
    border-top: 1px solid #e6e9f0;
}

 .jHIuVI {
     display: flex;
     flex-direction: row;
     border-top-width: 0px;
     padding-top: 0px;
 }
.order-card-param-list__item {
    padding-bottom: 16px;
    padding-top: 16px;
}
.backoffice-common-carousel {
    display: flex;
    flex: auto;
    flex-direction: row;
    position: relative;
}

.backoffice-common-carousel__overlay {
    bottom: 0;
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.backoffice-common-carousel__button_disabled {
    opacity: 0!important;
    pointer-events: none!important;
}

.backoffice-common-carousel__button {
    align-self: center;
    opacity: 0;
    pointer-events: auto;
    position: absolute;
    transition: opacity .3s ease-in-out;
}
.backoffice-common-circle-button_elevated {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(8 13 74 / 12%);
    color: #000;
}
.backoffice-common-circle-button {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    outline: none;
    width: 40px;
}
BUTTON {
    font-family: inherit;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
}

.backoffice-common-button_theme-black:before {
    background-color: #141c25;
}

.backoffice-common-button_theme-black:before {
    background-color: #141c25;
}

.backoffice-common-button_medium:before {
    border-radius: 8px;
}
.backoffice-common-button:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.backoffice-common-button__content {
    position: relative;
}
.backoffice-common-button__text_theme-black {
    color: #fff;
}

.backoffice-common-button__text {
    white-space: nowrap;
}

.backoffice-common-button__loader {
    display: none;
    left: calc(50% - 21px);
    position: absolute;
    top: calc(50% - 7px);
}
.loader-dots__dot_size-m {
    height: 10px;
    margin-right: 4px;
    width: 10px;
}

.loader-dots__dot {
    display: inline-block;
    position: relative;
    will-change: transform;
}


svg:not(:root) {
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}

.backoffice-common-carousel__button {
    align-self: center;
    opacity: 0;
    pointer-events: auto;
    position: absolute;
    transition: opacity .3s ease-in-out;
}

.backoffice-common-circle-button_elevated {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(8 13 74 / 12%);
    color: #000;
}
.backoffice-common-circle-button {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    outline: none;
    width: 40px;
}
.backoffice-common-carousel__wrapper {
    bottom: 0;
    display: flex;
    flex: initial;
    left: 0;
    overflow-x: scroll;
    position: absolute;
    right: 0;
    top: 0;
}
.backoffice-common-carousel__list {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }

.backoffice-common-carousel__list>:not(:last-child) {
    margin-right: 8px;
}


 .cSZwLB {
     display: flex;
     flex: 0 0 auto;
     width: 160px;
     /*height: 160px;*/
     border-radius: 8px;
     border: 0.5px solid rgba(51, 54, 59, 0.06);
     box-sizing: border-box;
     object-fit: cover;
 }
IMG {
    max-width: 340px;
}
IMG {
    border: 0;
    vertical-align: top;
    border-radius: 5%;
}



/*end block for images ============================*/


details {
    position: relative;
    /*width: 100px;*/
    /*margin-right: 1rem;*/
    margin-bottom: 15px;
}

details[open] {
    z-index: 1;
}

summary {
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 8px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;

}

summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

ul.list {
    width: 100%;
    background: #ddd;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
}

.list li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.list li:first-child {
    padding-top: 0;
}

.list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}


.sumInput[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

.sumInput[type=radio]:checked {
    display: inline;
    --display: block;
}

.sumInput[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: 1rem;
}

ul.list {
    counter-reset: labels;

}

.forLabel label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.forLabel label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}


/*---------------------------------------------*/

/**{*/
/*    font-family: "Lato";*/
/*}*/

/*decoration*/
h1{
    margin: 20px 50px 0;
    background: #EFF0F2;
    width:  275px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 30px 0;
    color: #34495E;
}
h1:before{
    color: #E74C3C;
    content: "★";
    display: block;
    font-size: 2em;
    padding: 20px 0;
}
.product-review-stars{
    margin: 0 50px;
    background: #2C3E50;
    padding: 20px 50px 20px 20px;
}

.product-review-stars label{
    text-shadow: 0px 0px 10px black;
}

/*end decoration*/

.visuallyhidden{
    position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
}
.product-review-stars label:after{
    content: "★";
    color: inherit;
    -webkit-transform: scale(4);
    position: absolute;
    z-index: 4;
    left: 0px;
    transition: all .4s;
    opacity: 0;
    color: inherit;
    visibility: hidden;

}

.product-review-stars input:checked + label:after{
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
}

.product-review-stars  {
    unicode-bidi: bidi-override;
    direction: rtl;
    width:  255px;
}

.product-review-stars label{
    font-family: "icomoon";
    font-size: 2em;
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}
.product-review-stars input:checked ~ label:before{
    opacity: 1;
}
.product-review-stars:hover input ~ label:before{
    opacity: 0;
}

.product-review-stars input + label:before{
    content: "\2605";
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out, color .3s ease-in-out;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
.product-review-stars input + label:hover:before,
.product-review-stars input + label:hover ~ label:before
{
    opacity: 1;
}
.product-review-stars input + label:nth-of-type(1):after,
.product-review-stars input + label:nth-of-type(1):before,
.product-review-stars input +  label:nth-of-type(1):hover:before,
.product-review-stars input + label:nth-of-type(1):hover ~ label:before,
.product-review-stars input:nth-of-type(1):checked ~ label:before{
    color: #2ecc71;
}
.product-review-stars input + label:nth-of-type(2):after,
.product-review-stars input + label:nth-of-type(2):before,
.product-review-stars input + label:nth-of-type(2):hover:before,
.product-review-stars input + label:nth-of-type(2):hover ~ label:before,
.product-review-stars input:nth-of-type(2):checked ~ label:before{
    color: #f1c40f;
}
.product-review-stars input + label:nth-of-type(3):after,
.product-review-stars input + label:nth-of-type(3):before,
.product-review-stars input + label:nth-of-type(3):hover:before,
.product-review-stars input + label:nth-of-type(3):hover ~ label:before,
.product-review-stars input:nth-of-type(3):checked ~ label:before{
    color: #F39C12;
}
.product-review-stars input + label:nth-of-type(4):after,
.product-review-stars input + label:nth-of-type(4):before,
.product-review-stars input + label:nth-of-type(4):hover:before,
.product-review-stars input + label:nth-of-type(4):hover ~ label:before,
.product-review-stars input:nth-of-type(4):checked ~ label:before{
    color: #e74c3c;
}

.product-review-stars input + label:nth-of-type(5):after,
.product-review-stars input + label:nth-of-type(5):before,
.product-review-stars label:nth-of-type(5):hover:before,
.product-review-stars input:nth-of-type(5):checked ~ label:before{
    color: #d35400;
}

.product-review-stars label:nth-of-type(5):hover:before{
    color: #d35400 !important;
}